@charset "UTF-8";

body {
  font-family: century gothic, Arial, Helvetica, Sans-Serif;
  margin: 0;
}  

*{
  box-sizing: border-box;
}

h1 {
  margin-left: 25px;
}

.row {
  padding: 50px;
}

.class-left {
  float: left;
  width: 75%;
}

img {
  float: right;
  width: 25%;
}  

h2 {
  margin-left: 25px;
  margin-top: 75px;
}

.left-column {
  width: 50%;
  float: left;
  padding-right: 25px;
}

.right-column {
  width: 50%;
  float: right;
  padding-left: 25px;
}

@media(max-width:800px){
  .left-column,.right-column{
    width: 100%;
    padding: 0px;
  }
}
