@charset "UTF-8";

body {
  font-family: century gothic, Arial, Helvetica, Sans-Serif;
  margin: 0;
}  

*{
  box-sizing: border-box;
}

h1 {
  margin-left: 25px;
}

.row {
  margin: 25px;
}

.class {
  float: left;
  width: 75%;
}

img {
  float: right;
  width: 350px;
  length: 450px;
}

h2 {
  margin-left: 25px;
  margin-top: 75px;
}

.left-column {
  width: 50%;
  float: left;
}

.right-column {
  width: 50%;
  float: right;
}

@media(max-width:800px){
  .left-column,.right-column{
    width: 100%;
    padding: 0px;
  }
}
