@charset "UTF-8";

body {
  font-family: century gothic, Arial, Helvetica, Sans-Serif;
  margin: 0;
}  

*{
  box-sizing: border-box;
}

h1 {
  margin-left: 75px;
}

.class {
  float: left;
  width: 75%;
}

.image {
  float: right;
  width: 25%;
}

.image img {
  width: 200px;
  length: 350px;

h2 {
  text-align: center;
  margin: 75px;
}

.left-column {
  width: 50%;
  float: left;
}

.right-column {
  width: 50%;
  float: right;
}

@media(max-width:800px){
  .left-column,.right-column{
    width: 100%;
    padding: 0px;
  }
}
