@charset "UTF-8";

body{
  font-family: century gothic, Arial, Helvetica, Sans-Serif;
  margin: 0;
  background-color: #f1f1f1;
  height: 700px;
}
*{
  box-sizing: border-box;
}

.headline {
  background-color: #ffffff;
  padding: 10px;
}

.headline h1{
  text-align: center;
  font-size: 40px;
  color: #000000;
  margin: 1.5 0px;
}

.left-column{
  float: left;
  width: 75%;
}

.right-column{
  width: 25%;
  float: right;
  padding-left: 20px;
}

.card{
  padding: 20px;
  background-color: #ffffff;
  margin-top:20px;
}

.card img{
  width: 100%;
}

.left-column .card img{
  height: 300px;
}  

.right-column .card img{
  margin-bottom: 10px;
  height: auto;
}


@media(max-width:800px){
  .left-column,.right-column{
    width: 100%;
    padding: 0px;
  }
}
