@charset "UTF-8";

body {
  margin: 0;
  font-family: century gothic, Arial, Helvetica, Sans-Serif;
  font-size: 100%;
  font-color: white;
}

h1 {
  font-size: 50px;
}


body {
  background-image: url("img/background.jpg");
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px; 
}

.hero-text {
  content: 50px;
  position: absolute;
  text-align: center;
}
