@charset "UTF-8";

body {
  margin: 0;
  font-family: century gothic, Arial, Helvetica, Sans-Serif;
  font-size: 100%;
}

h1 {
  font-size: 50px;
}


html {
  background-image: url(img/background.jpg) no-repeat center fixed;
  background-color: white;
  background-size: cover;
}

.desk-image {
  background-color: white;
  position: center;
  width: 100px;
  height: 75px;

.hero-text {
  content: 50px;
  text-align: center;
  position: center;
  top: 50%;
  left: 50%;
  color: black;
}
