@charset "UTF-8";

body {
    margin: 0;
    font-family: century gothic, Arial, Helvetica, Sans-Serif;
    font-size: 100%;   
}
*{
    box-sizing: border-box;
}

.left-column {
    float: left;
    width: 75%;
}

.right-column {
    width: 25%;
    float: right;
    padding-left:20px;
}

.card {
    padding: 20px;
    background-color: #ffffff;
    margin-top: 20px;
}

.card img{    
    width: 100%; 
    height: 100%;
}

.div-content img{
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
    position: relative;
}
    
.fun-list {
    height: 200px;
    width: 25%;
    left: 20px; 
    position: relative;
}    

.list-image {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 25%;
    position: absolute;
}
    
.slider-button {
  border: none;
  display: inline-block;
  padding: 8px 8px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: white;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
}

.slider-button:hover {
  color: black;
  background-color:grey;
}

.display-left {
  left: 0%;

}

.display-right {
  right: 0%;
}
    
@media(max-width:800px){
  .left-column,.right-column{
    width: 100%;
    padding: 0px;
  }
}    
