@charset "UTF-8";

.grid-container {
  display: grid;
  grid:
  'myArea myArea . . .'
  'myArea myArea . . .';
  grid-gap: 10px;
  background-color: white;
  padding: 10px;
}

.grid-container > div {
  background-color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
